body{
    background-color: rgb(28, 93, 150);
}

.start_btn{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn button{
    font-size: 20px;
    font-weight: 300;
    color: green;
    padding: 15px 25px;
    border-radius: 7px;
    cursor: pointer;
}

.info_box {
    width: 500px;
    background: white;
    border-radius: 7px;
}

.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}
.info_box .info_list{
    padding: 10px 35px;
}

.info_box .buttons{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid gray;
}
.info_box .buttons button{
    margin: 5px;
    height: 30px;
    width: 100px;
    border: 1px solid transparent;
    color: white;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}
.hide{
    display: none;
}